.main {
    background-color: rgb(240,248,255);
    box-sizing: border-box
}

.content {
    margin: 0 20%;

}

.title {
    margin-bottom: 0;}
.subtitle {
    margin-top: 0;
}

/* Header styles */
header {
    display: grid;
    align-items: center;
    /*grid-template-columns: 80% 20%;*/
}

.header-buttons {
    grid-column-start: 2;
    justify-self: end;
    margin-right: 5px;
}

.header-buttons button:nth-of-type(2) {
    background-color: rgb(0,191,255);
    color: white;
    border: 1px solid white;
}

.header-buttons button {
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 10px;
}

/* Summary metrics styles */
.summary-metrics {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.card {
    text-transform: uppercase;
    border: 1px solid gray;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
}

.summary-name {
    margin-bottom: 0;
 }

.summary-value {
    font-weight: bold;
    font-size: 24px;
    margin-top: 0
}

/* Audit event cards styles */
.audit-cards {
    background: gradient(to bottom, #f0f0f0, #d0d0d0);
}

.audit-event-card {
    display: grid;
    border: 1px solid gray;
    border-radius: 10px;
    grid-template-rows: 50% 50%;
    margin: 20px 5px;
    padding: 5px;
    background-color: white;
}

.event-details {
    display: grid;
    grid-template-columns: 80% 20%;
    margin-bottom: 0;

}

.event-title {
    font-weight: bold;
        margin: 10px 10px 5px 5px;

}
.event-timestamp {
    margin: 10px 10px 5px 5px;
    background-color: rgb(248,248,248);
    width: fit-content;

}

.event-badges {
    justify-self: end;
    align-self: center;
    margin-right: 5px;
    margin-top: 5px;
}

.severity-badge, .outcome-badge {
    border-radius: 25px;
    padding: 0 15px;
}

.metadata {
    margin-top: 0;
    margin-left: 5px;
    padding-top: 0;
    padding-bottom: 10px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

.details p, .entity-details p {
    margin: 5px;
    width: fit-content;
    color: grey;
    padding-bottom: 10px;
}

.details p span, .entity-details p span {
    color: black;
}

.red-badge {
    --red-color: red;
    border: 1px solid var(--red-color);
    background-color: rgb(255, 230, 234);
    color: var(--red-color);
}


.green-badge {
    --green-color: rgb(0, 77, 0);
    border: 1px solid var(--green-color);
    background-color: rgb(204, 255, 179);
    color: var(--green-color);
}

.yellow-badge {
    --yellow-color: rgb(210,105,30);
    border: 1px solid var(--yellow-color);
    background-color: rgb(255, 248, 220);
    color: var(--yellow-color);
}

.event-badges p {
    font-weight: bold;
    font-size: 14px;
}
